* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #fbeaf0;
  color: #f06390;
  font-family: signika, sans-serif;
  position: absolute;
  padding-bottom: 300px;
  background-image: url(../../assets/imagenes/sparkle.gif);
  width: 100%;
}

.grilla {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 110px 20fr 1fr;
}

main {
  grid-area: main;
}

header {
  background-color: #ffd6e3;
  height: 110px;
  position: relative;
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.logo {
  top: 3px;
}
.logo img {
  height: 110px;
}

.nav_edited {
  position: absolute;
  display: flex;
  right: 0px;
  height: 110px;
}

nav {
  position: absolute;
}
nav ul {
  list-style: none;
  position: relative;
  font-size: 20px;
  font-weight: bold;
}

.titulos {
  text-align: center;
  position: relative;
  font-weight: bolder;
  letter-spacing: 3px;
  text-transform: uppercase;
  align-items: center;
  margin-top: 50px;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

.seccion_info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.info {
  font-family: signika, sans-serif;
  color: #f06390;
  font-size: 24px;
  position: relative;
  top: 40px;
  margin: 20px;
  width: 500px;
}
.info h2, .info h3 {
  font-weight: bolder;
}
.info a {
  text-decoration: none;
  color: #f2789f;
  font-weight: bold;
}
.info a:active, .info a:hover {
  color: #f9c5d5;
  text-decoration: underline;
}

.productos {
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.imagenes {
  background-color: white;
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 40px 60px;
}
.imagenes h2 {
  font-size: 25px;
  font-weight: bold;
}
.imagenes img {
  height: 220px;
  margin: 10px;
  width: 220px;
}
.imagenes p {
  font-size: 22px;
}
.imagenes a {
  background-color: #f9c5d5;
  text-decoration: none;
  color: #f06390;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  font-size: 20px;
}
.imagenes a:hover {
  transform: scale(1.4, 1.4);
  transition: 0.4s;
}

.promo {
  height: 80px;
  color: white;
  background-color: #f2789f;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.promo h2 {
  font-weight: bolder;
}

.carousel {
  display: flex;
  flex-direction: row;
  height: 450px;
  margin-top: 20px;
}

.carousel_imagenes {
  height: 420px;
  width: 420px;
  margin-left: 100px;
}

.carousel_texto {
  height: 250px;
  width: 600px;
  display: block;
  padding-left: 80px;
  padding-right: 20px;
  padding-top: 40px;
  margin-bottom: 100px;
  margin-top: 40px;
  margin-left: 100px;
  background-image: url(../../assets/imagenes/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-style: dotted;
}
.carousel_texto h2 {
  color: #f06390;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}
.carousel_texto p {
  color: #f06390;
  font-size: 26px;
  margin-top: 25px;
  font-weight: bold;
}
.carousel_texto img {
  width: 200px;
  margin-top: 40px;
}

.instagram {
  width: 60px;
  position: fixed;
  bottom: 1px;
  right: 1px;
}

.gif {
  width: 140px;
  position: fixed;
  bottom: 1px;
  left: 1px;
}

.formulario {
  width: 500px;
  padding: 20px;
  background-color: #ffd6e3;
  font-weight: bold;
  border-color: #f06390;
  border-radius: 6px;
}

.campos {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #f06390;
  margin-bottom: 10px;
  font-size: 15px;
  font-family: signika, sans-serif;
}

.boton {
  width: 100%;
  padding: 8px;
  border: none;
  background-color: #f06390;
  color: white;
  font-size: 15px;
}

footer {
  background-color: #f9c5d5;
  position: absolute;
  bottom: 0;
  padding-top: 20px;
  width: 100%;
  font-family: signika, sans-serif;
  text-align: center;
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
footer div {
  display: inline-block;
  margin-right: 50px;
}

@media screen and (max-width: 720px) {
  .grilla {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 100px 5fr 1fr;
  }
  header {
    width: auto;
    display: inline;
    position: relative;
  }
  .logo {
    position: relative;
    width: auto;
  }
  .logo img {
    width: 280px;
  }
  .nav_edited {
    top: 0px;
    width: 80px;
  }
  .carousel {
    display: none;
  }
  .promo {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .grilla {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 110px 6fr 110px;
  }
  .logo img {
    height: 95px;
  }
  nav li {
    display: inline;
    margin: 6px;
  }
}/*# sourceMappingURL=estilos.css.map */