body {
    background-color: $quinto;
    color: $primero;
    font-family: signika, sans-serif;
    position: absolute;
    padding-bottom: 300px;
    background-image: url(../../assets/imagenes/sparkle.gif);
    width: 100%;
}

.grilla {
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-rows: 110px 20fr 1fr;
}

main {
    grid-area: main;
  }

  