header{
  background-color: $cuarto;
  height: 110px;
  grid-area: header;
  position: relative;
  top: 0px;
}

.logo {
  height: 110px;
  position: relative;
  right: 0px;
}

.container-fluid{
  top: 0px;
  height: 110px;
}

nav {

  ul {
    list-style: none;
    position: relative;
    font-size: 20px;
    font-weight: bold;
  }
}