header {
  background-color: $cuarto;
  height: 110px;
  position: relative;
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.logo {
  top: 3px;

  img{
    height: 110px;
  }
}

.nav_edited {
  position: absolute;
  display: flex;
  right: 0px;
  height: 110px;
}

nav {
  position: absolute;

  ul {
    list-style: none;
    position: relative;
    font-size: 20px;
    font-weight: bold;
  }
}