.titulos {
    text-align: center;
    position: relative;
    font-weight: bolder;
    letter-spacing: 3px;
    text-transform: uppercase;
    align-items: center;
    margin-top: 50px;
}

h1{
    font-size: 40px;
    font-weight: bold;
  }