@media screen and (max-width: 720px) {
    .grilla {
      display: grid;
      grid-template-areas:
        "header"
        "main"
        "footer";
      grid-template-rows: 100px 5fr 1fr;
    }
  
    header{
      width: 100%;
      display: inline;
      position: relative;
    }
  
    .logo{
      position: absolute;
      width: auto;
      margin-left: 80px;

      img{
        width: 280px;
      }
    }
  
    .nav_edited{
      top: 0px;
      width: 40px;
      margin-left: 0px;
      position: relative;
    }
  
    .carousel{
      display: none;
    }

    .promo{
        display: none;
    }

    .seccion_info{
      width: fit-content;
    }

    .formulario{
      width: fit-content;

    }

    .gif{
      display: none;
    }

  }

@media screen and (max-width: 1024px) {
    .grilla {
      display: grid;
      grid-template-areas:
        "header"
        "main"
        "footer";
      grid-template-rows: 110px 6fr 110px;
    }

    body{
      width: fit-content;
    }
  
    .logo{
      img{
        height: 95px;
      }
    }

    .nav_edited{
      li{
        height: 40px;
        z-index: 2;
      }
    }

    .promo{
      display: none;
  }


  footer{
    display: inline;
    width: 100%;
  }
  }