@media screen and (max-width: 720px) {
    .grilla {
      display: grid;
      grid-template-areas:
        "header"
        "main"
        "footer";
      grid-template-rows: 100px 5fr 1fr;
    }
  
    .logo{
      width: 260px;
      height: 80px;
      position: relative;
      margin-right: 0px;
    }

    .container-fluid{
      background-color: $cuarto;
      z-index: 2;
      height: auto;
    }
  
    .carousel{
      display: flex;
      flex-wrap: wrap;
      height: auto;
      margin-right: 20px;
      width: auto;
      margin-bottom: 10px;

      .carousel_imagenes{
        margin-left: 40px;
        height: auto;
        width: auto;
      }
      
      .carousel_texto{
       display: none;
      }
    }

    .promo{
      height: fit-content;
        h2{
          margin-top: 15px;
          margin-left: 15px;
        }
    }

    .seccion_info{
      width: fit-content;
      min-width: 360px;
    }

    .formulario{
      width: fit-content;

    }

    .gif{
      display: none;
    }

  }

@media screen and (max-width: 990px) {
    .grilla {
      display: grid;
      grid-template-areas:
        "header"
        "main"
        "footer";
      grid-template-rows: 110px 6fr 110px;
    }

    body{
      width: fit-content;
    }
  
    .logo{
      height: 95px;
    }

    .nav_edited{
      li{
        height: 40px;
        z-index: 2;
      }
    }

    .navbar-nav{
      left: 0px;
    }

    .container-fluid{
      background-color: $cuarto;
      z-index: 2;
      height: auto;
    }

  footer{
    display: inline;
    width: 100%;
  }
  }